{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    
    <form method="post">
        <div class="form-group">
            <label for="email">Email Addresss</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
        </div>
        
        <div class="form-group">
            <label for="password1">Email Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

